<h1>Add a Word with definition</h1>

<form action="/word" method= 'post'>

  <label for="word">Word: </label>
  <input id="word" name="word" type="text">

  <label for="definition">Defintion: </label>
  <input id="definition" name="definition" type="text">

  <button type="submit">Add Word</button>

</form>
